- mail_to = 'mailto:hello@jveart.com'
- fb_url = 'https://www.facebook.com/LatvianMusicSummer'
- tw_url = 'https://twitter.com/MusicSummerLV'
- dr_url = 'http://www.draugiem.lv/latvianmusicsummer/'

#top.logo
	.logo_text
		33 festivāli
		%br
		600+ mākslinieki
		%br
		40+ skatuves
		%br
		1 vasara
	.logo_image
.calendar
	.upcoming
		- @upcoming.each do |month_no, festivals|
			.month
				- if month_no == 6
					%h1 Jūnijs
				- if month_no == 7
					%h1 Jūlijs
				- if month_no == 8
					%h1 Augusts
				.festivals
					- festivals.each do |festival|
						.festival_item
							.name
								= festival.name
							.date
								- days_until_start = (festival.start_date - Date.today).to_i
								- if days_until_start > 0
									pēc
									= days_until_start
									dienām
								- elsif days_until_start == 0
									Jau šodien
								- else
									vēl
									= (festival.end_date - Date.today).to_i
									dienas
							.link
								%a{ :href => festival.lineup_link, :target=>'_blank' } mākslinieki
							.clear
	%hr.green				
	.past
		- @past.each do |month_no, festivals|
			.month
				- if month_no == 6
					%h1 Jūnijs
				- if month_no == 7
					%h1 Jūlijs
				- if month_no == 8
					%h1 Augusts
				.festivals
					- festivals.each do |festival|
						.festival_item
							.name
								= festival.name
							.date
								= "#{festival.start_date.day<10 ? '0' : ''}#{festival.start_date.day}."
								- if festival.start_date.day != festival.end_date.day
									= "- #{festival.end_date.day<10 ? '0' : ''}#{festival.end_date.day}."
									
							.link
								%a{ :href => festival.lineup_link, :target=>'_blank' } mākslinieki
							.clear
	.more
		Zini vēl kādu festivālu?
		%a{ :href => mail_to } Pastāsti mums !
.teaser
	%h1 Drīzumā
	%p
		Latvijas mūzikas festivālu gaidītāko mākslinieku plakāts un mūzikas festivālu sezonas share* konkursu manifests.
		Nenokavē mūzikas vasaru:
		%a{ :href => fb_url, :target=>'_blank' } Facebook,
		%a{ :href => tw_url, :target=>'_blank' } Twitter,
		%a{ :href => dr_url, :target=>'_blank' } Draugiem.
	.teaser_warp
		.right_side
		.teaser_image
.share
	%h1
		Dalies
		%span tālāk
	%p
		Dodam linku un brīvību tev pašam izvēlēties ko vēlies rakstīt, lai aizsūtītu mūzikas vasaru draugam
		Skype, WhatsApp, Facebook, Twitter vai citādi.
	.links
		.share_link
			.copy_field
				http://musicsummer.lv/muzika
			.button
				Iezīmēt linku
		.hashtag
			.copy_field
				\#manavasara
			.button
				Iezīmēt haštagu
		.clear
.social_links
	%a{ :href => mail_to } E-pasts
	%a{ :href => fb_url, :target=>'_blank' } Facebook
	%a{ :href => tw_url, :target=>'_blank' } Twitter
	%a{ :href => dr_url, :target=>'_blank' } Draugiem
	%a.top_link{ :href => '#top' } Uz augšu ↑
	