.vote
	- @formbuilder = true
	= form_for @vote do |f|
		.artist
			%label{ :for => 'vote_artist'}
			= f.text_field :artist, :placeholder=>'Kurš ir tavs gaidītākais mākslinieks?', :class => :artist_search, :autocomplete => 'off'
		.song
			%label{ :for => 'vote_song'}
			= f.text_field :song, :placeholder=>'Kura ir tava mīļākā dziesma?', :class => :video_search, :autocomplete => 'off'
			= f.hidden_field :youtube_link, :class => :youtube_link
			.preview
		.festival
			%label{ :for => 'vote_festival'}
			= f.text_field :festival, :placeholder=>'Kurā festivālā uzstāsies?', :class => :festival_search, :autocomplete => 'off'
			= f.hidden_field :festival_id, :class => :festival_id
			.preview
				- @festivals.each do |festival|
					%span{ 'data-festival_id' => festival.id }= festival.name
		.contact
			= f.fields_for :user, @vote.user do |u|
				%label.check_box{ :for => 'user_contact_email', :class => ( !@vote.user.contact_mail.blank? ? 'active' : '' ) }
				= u.text_field :contact_mail, :placeholder=>'Kā ar tevi sazināties, uzvaras gadījumā?', :class => 'contact_mail', :autocomplete => 'off'
		.rules_link
			%label.check_box{ :for => 'rules_read'}
			= check_box :rules, :read, :class => 'rules_check'
			Tava paša atbildība
			%a.ajax_link{ :href => '/rules' } izlasīt noteikumus
		.button
			= f.submit :value => 'Saglabāt'
		.clear