.vote
	- @formbuilder = true
	= form_for @report do |f|
		.link
			%label{ :for => 'report_contest_link'}
			= f.text_field :contest_link, :placeholder=>'Pieķertā share* konkursa links ', :class => :report_link, :autocomplete => 'off'
		.contact{ :class => ( !@report.user.contact_mail.blank? ? 'valid' : '' ) }
			= f.fields_for :user, @report.user do |u|
				%label.check_box{ :for => 'user_contact_email', :class => ( !@report.user.contact_mail.blank? ? 'active' : '') }
				= u.text_field :contact_mail, :placeholder=>'Atstāj kontaktus, ja vēlies piedalīties izlozē!', :class => 'contact_mail', :autocomplete => 'off'
		.rules_link
			%label.check_box{ :for => 'rules_read'}
			= check_box :rules, :read, :class => 'rules_check'
			Tava paša atbildība
			%a.ajax_link{ :href => '/rules' } izlasīt noteikumus
		.button
			= f.submit :value => 'Saglabāt'
		.clear