.vote
	- @formbuilder = true
	= form_for @report do |f|
		.link
			%label{ :for => 'report_contest_link'}
			= f.text_field :contest_link, :placeholder=>'Pieķertā share* konkursa links ', :class => :report_link
		.name
			%label{ :for => 'report_name'}
			= f.text_field :name, :placeholder=>'Kas rīko šo konkursu?', :class => :report_name
		.contact
			%label{ :for => 'user_contact_email'}
			= f.fields_for :user, @report.user do |u|
				= u.text_field :contact_mail, :placeholder=>'Kā ar tevi sazināties, uzvaras gadījumā?'
		.rules_link
			= check_box :rules, :read
			Tava paša atbildība
			%a{ :href => '/rules' } izlasīt noteikumus
		.button
			= f.submit :value => 'Saglabāt'
		.clear