<!DOCTYPE html>
<html>
<head>
  <title>Musicsummer14</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script content="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container page_container controller-<%= controller.controller_name %> action-<%= controller.action_name %>">
    <%= yield %>
  </div>
  <footer>
    Latvian Music Summer © 2014
    <br>
    Alternative advertising rock, branding pop, design’n’code by
    <a href="http://jveart.com" target="_blank"><div class="jveart_logo"></div></a>
  </footer>  
</body>
</html>
